extends layout

block content
  .row.row-padding
      h1= "Cameron Belt"
      h4= "Electrical & Software Engineer - Tyler, Tx"
      br
      .row
        .col-sm-4
          strong= "Phone"
          br
          hr.visible-lg.visible-md
          p= "936.556.3479"
          hr.visible-xs.visible-sm
        .col-sm-4
          strong= "Email"
          br
          hr.visible-lg.visible-md
          a(href= "mailto:camerontbelt@gmail.com" class= "hvr-underline-from-center")= "camerontbelt@gmail.com"
          hr.visible-xs.visible-sm
        .col-sm-4
          strong= "Social"
          br
          hr.visible-lg.visible-md
          a(href= "https://github.com/camerontbelt" class= "hvr-underline-from-center")= "Github"
          br
          a(href= "https://linkedin.com/in/camerontbelt" class= "hvr-underline-from-center")= "LinkedIn"
          hr.visible-xs.visible-sm
  br
  div(class="panel-group" id="accordion" role="tablist" aria-multiselectable="true")
    .panel.panel-default
      div(class="panel-heading" role="tab" id="headingOne")
        h4.panel-title
          a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="hvr-underline-from-center")= "Skills"
      div( id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne")
        .panel-body
          ul
            li= "Microsoft Word, Excel, Visual Studio, Xcode, MultiSim, KiCad, SolidWorks 3D CAD"
            
            li= "Objective-C, C#, C, Assembly, SQL, Matlab, Java, Verilog, HTML5, CSS3, Pug, Bootstrap 3.0"
            
            li= "Familiarity with MEAN, understanding of GIT, Heroku"
            
            li= "Strong organizational skills and problem solving skills"
            
            li= "Knowledge of FPGA’s"
            
            li= "Certified Engineer in Training by Texas Board of Professional Engineers"
            
            li= "Passion to learn and understand new topics"
  
    .panel.panel-default
      div(class="panel-heading" role="tab" id="headingTwo")
        h4.panel-title
          a(class="collapsed hvr-underline-from-center" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" )= "Education"
      div( id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo")
        .panel-body
          h4= "University of Texas at Tyler"
          h5= "August 2012 – May 2015"
          ul
            li= "Bachelors of Science in Electrical Engineering"
            li= "Experience in Multisim, KiCad, and PCB design and development"
            li= "Recipient of the Phi Theta Kappa Scholarship"
            li= "Passed the Fundamentals of Engineering Exam"
            li= "Certified Engineer in Training"
            li= "Was a member of and involved with Institute of Electrical and Electronics Engineers (IEEE) local campus charter at UT Tyler"
          h4= "Course work"
          p= "Matlab for Engineers, Digital Systems, Linear Circuit Analysis I & II, Electromagnetic Fields, Electronic Circuits I & II, Design Methodology in Engineering, Automatic Controls, Microprocessors, Signals and Systems, Electric Power Systems, Communications Theory, and Real Time Processing, VLSI, FPGA’s and HDL"
  
    .panel.panel-default
      div(class="panel-heading" role="tab" id="headingThree")
        h4.panel-title
          a(class="collapsed hvr-underline-from-center" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree")= "Experience"
      div(id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree")
        .panel-body
          h4="Genesis Group"
          h5="June 2017 - Present"
          ul
            li= "Introduced new functionality to the product per the product requirements from Motorola."
            li= "Implemented “clean code” standards for team wide use, and helped maintain code base standards."
            li= "Implemented bug fixes as they arrived from Motorola or from Quality Assurance testing."
            li= "Worked closely with Quality Assurance technicians to maintain a robust product. "

          h4= "SPEA America – Test Engineer"
          h5= "May 2015 – June 2017"
          ul  
            li= "Design testing procedures for a variety of Automatic Test Equipment (ATE)."
            li= "Teach customers how to use the software and hardware for their ATE and answered any questions they may have had. Teach customers in formal training classes how to develop their own programs."
            li= "Use the ATE to test customer Printed Circuit Board (PCB’s)"
            li= "Communicate and interface with customers during development to understand the criteria they required for their particular needs."
            li= "Aided in the creation of multiple Application Notes"
          
          h4= "Pinnergy - Software Engineer"
          h5= "August 2012 – May 2015"
          ul  
            li= "Designed software applications using Microsoft Visual Studio and C# to implement intra-company productivity apps for various departments"
            li= "Worked across departments to identify strategic areas of improvement"
            li= "Developed internal productivity apps on a modern .NET framework used to save 200+ man hours per year"
            li= "Trusted with self-directed projects up to 150 man-hours"
            li= "Developed and cultivated interpersonal communication skills with co-workers."

  script(src= "http://code.jquery.com/jquery.js")
  script(src= "/bootstrap/js/bootstrap.min.js")